
<!-- Services section -->
<section id="acerca" class="jumbotron">
  <div class="container-fluid">
    <h2 class="section-title mb-2 h1">Acerca de nosotros</h2>
    <div id="about-tres-erres" class="mt-3 mb-3">
    <p class="text-center text-muted h5">Tres Erres</p>
    <div style="margin-right: auto" class="row">
      <div class="container">
        <div class="float-left col-md-6 col-sm-12">
          <h2>Nuestra historia</h2>
          <p>TRES ERRES, una Empresa especializada en Administración Contable, desde el año 2000, siguiendo la trayectoria de Rivas y Asociados.</p>
          <p>Incorpora mas tarde la División Software y posterirmente la fabricación y venta de Materiales Apícolas.</p>
          <p>Estamos preparados para satisfacer todas sus necesidades, <a href="#contacto" style="color:orange">consultenos</a>.</p>
        </div>
        <div class="float-right col-md-6 col-sm-12">
          <img src="../../assets/img/company.jpg" class="img-fluid" alt="Imagen de la compania">
        </div>
      </div>
    </div>
    </div>
    <div id="about-soft" class="mt-3 mb-3">
      <p class="text-center text-muted h5">Tres Erres - Software</p>
      <div style="margin-right: auto" class="row">
        <div class="container">
          <div class="float-left col-md-6 col-sm-12">
            <img src="../../assets/img/img-code.jpg" class="img-fluid" alt="Imagen de codigo fuente">
          </div>
          <div class="float-right col-md-6 col-sm-12">
            <h3 class="section-title mb-2 h1">División Software</h3>
            <p>En <a href="#about-soft" style="color:orange">TRES ERRES</a>, División Software, diseñamos y desarrollamos todas las soluciones que su Empresa necesita para aumentar su eficiencia y rentabilidad. </p>
            <p>Nuestros productos, son el resultado de nuestra experiencia web, aportando a nuestros clientes además de soluciones confiables, bajos costos por mantenmimiento e implementación.</p>
            <p>Cada una de nuestras soluciones puede accederse desde cualquier lugar donde exista una conexión de internet.</p>
            <p>Desde su imagen corporativa, hasta la más compleja administración</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Services section -->
