<nav class="navbar navbar-expand-md navbar-dark bg-warning">
  <a class="navbar-brand" href="#">[3Erres]</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons">menu</i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="#">Inicio</a>
      <a style="cursor:pointer" class="nav-item nav-link" [scrollTo]="'#contacto'" [scrollDuration]="1000" [scrollOffset]="-100">Contacto</a>
      <a style="cursor:pointer" class="nav-item nav-link" [scrollTo]="'#acerca'" [scrollDuration]="1000" [scrollOffset]="-100" >Acerca</a>
      <a style="cursor:pointer" class="nav-item nav-link" [scrollTo]="'#servicios'" [scrollDuration]="1000" [scrollOffset]="-100" >Servicios</a>
      <a style="cursor:pointer" class="nav-item nav-link" href="http://facturarte.com.ar/">FacturARTE</a>
    </ul>
  </div>
</nav>
