
<!-- Services section -->
	<section id="servicios">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">Nuestros servicios</h2>
			<p class="text-center text-muted h5">Tres Erres SOFT</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">FacturARTE</h3>
							<p class="card-text">Sistema de facturación electronica</p>
              <button mat-raised-button color="info"><mat-icon class="example-icon">more</mat-icon> <a href="http://www.facturarte.com.ar" style="color:black"> Ir a verlo</a> </button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Desarrollo Web</h3>
							<p class="card-text">Diseño e implementacion de sistemas web</p>
							<a href="#contacto"><button mat-raised-button color="info"><mat-icon class="example-icon">more</mat-icon> Contactenos </button></a>
						</div>
					</div>
				</div>
				<!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Special title</h3>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <button mat-raised-button color="info"><mat-icon class="example-icon">more</mat-icon> Ver más </button>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<!-- /Services section -->
