<app-header class="fixed-top"></app-header>
<div style="margin-right: auto" class="row">
  <div style="height:100vh;" class="col-md-6 col-sm-12 bgimg"></div>
  <div style="height:100vh;" class="col-md-6 col-sm-12"><app-contact></app-contact></div>
</div>
<div style="margin-right: auto" class="row">
  <app-about style="width: 100%;"></app-about>
</div>
<div style="margin-right: auto" class="row">
  <div class="container"><app-services></app-services></div>
</div>
<app-footer class="fixed-bottom"></app-footer>
